/* -------------------------------- Menus ---------------------------------- */
#menyAvPaa {
  @apply appearance-none z-burger text-white;

  font-size: 2.5rem;
  line-height: 2.5rem;

  &:before {
    content: "\f0c9";
  }

  &:checked:before {
    content: "\f00d";
  }

  &:checked {
    &~ #meny {
      @apply duration-700 transition-transform ease-in-out transform translate-x-0;
      @apply visible;
    }
  }
  &:focus {
    /*@apply outline-white;*/
  }
}


#meny {
  &> ul > li {
    @apply block m-auto uppercase;

    &> ul {
      @apply normal-case;

      & li {
        @apply py-3;
      }
    }
  }

  /* TODO sub-menu size should be at least the same as parent link length */
  & .sub-menu {
    @apply block p-0 z-10;
    @apply transition duration-500 ease-in-out;
    /*@apply min-w-120;*/
    /* hack to make short sub links nicer looking */
    @apply right-0 left-auto;

    transform: translate(2.5em);

    & ul {
      @apply relative;
    }
  }

  & ul li {
    @apply flex items-center relative;
    &> a {
      @apply p-3;
    }

    & .sub-menu {
      @apply hidden;
      & li {
        @apply flex justify-between;
      }
    }
  }

  & a.logo-link {
    &:hover,
    &:focus {
      background-color: unset;
    }
  }

  /* if the menu has a submenu then add an icon '>' and make it clickable */
  & .open-sub-menu {
    @apply font-ma-icons text-xl;
    @apply hidden leading-none appearance-none;

    &:after {
      content: 'add';
    }

    &:checked:after {
      content: 'remove';
    }

    &:checked ~ .sub-menu {
      display: block;
    }
  }

  & .menu-item-has-children {
    &> .open-sub-menu {
      @apply inline-block;
    }
  }

}

@media only screen and (min-width: 820px) {
  #meny {
    &> ul> li> .sub-menu {
      @apply transform -translate-x-10 translate-y-4;
      & .sub-menu {
        @apply transform -translate-x-4;
      }
    }

    & .sub-menu {
      @apply bg-gray-900 text-white;

      & ul {
        @apply block m-0 p-0;
        @apply absolute;
        right: 96%;
        top: 0;
      }
    }

    & ul li .sub-menu {
      @apply absolute;
      & li {
        &> a {
          @apply w-full;
        }
      }
    }

    & li:hover,
    & li:focus {
      @apply text-white bg-blue-900;
      @apply z-100;
    }

    /* Hover effects only on large screens, mobile uses checkbox toggles */
    & ul li:hover > .sub-menu,
    & ul li:focus > .sub-menu {
      @apply block;
    }
  }
}

.shortcut-menu {
  @apply flex flex-row text-sm justify-around text-white text-center h-full;

  &> li {
    @apply h-full;
    @apply w-1/4;
    &> a {
      @apply h-full flex flex-col items-center uppercase;
      &> .font-ma-icons {
        @apply normal-case;
      }
    }
    @apply border-l-2 border-white;
  }

  &> li:first-of-type {
    @apply border-l-0;
  }

  &> li .shortcut-icon:before {
    content: '\e876';
  }

  &> li:nth-child(1) .shortcut-icon:before {
    content: '\e88a';
  }

  &> li:nth-child(2) .shortcut-icon:before {
    content: '\f092';
  }
  &> li:nth-child(3) .shortcut-icon:before {
    content: '\ef42';
  }
  &> li:nth-child(4) .shortcut-icon:before {
    content: '\e0cd';
  }
}

@media only screen and (max-width: 819px) {
  #meny {
    @apply overflow-auto z-nav;

    @apply duration-700 transition-transform ease-in-out transform translate-x-full;
    animation: hide-last;

    overscroll-behavior: contain;
    width: 90%;
    height: calc(100% - 60px);

    /* sub menus */
    & ul > li {
      @apply flex flex-row flex-wrap justify-between ml-6;
    }
    & ul li .sub-menu {
      @apply w-full;
    }
  }
}

/* animation that hides the frame on last keyframe instead of first */
@keyframes hide-last {
  99% {
    @apply visible;
  }
  100% {
    @apply invisible;
  }
}
