/*!
Theme Name: Hillopurkki
Author: Joonatan Kuosa
Description: Hillopurkki theme
Version: 1.5.4
Tags:
Text Domain: hillopurkki
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wp--style--block-gap: 2rem;
}

/* Wordpress adds a 32px admin bar on all pages
 * which doesn't play nice with the 100vh, for now this bar appears on top
 * of our real page
 */
html, body {
  @apply min-h-screen m-0 p-0 border-none;
  @apply font-body;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

/* Flexbox configuration for header and footer */
body {
  @apply flex flex-col text-black bg-white tracking-wide text-md;

  & > div {
    @apply flex-grow;
  }
}

header {
  @apply flex-shrink-0;
}

footer {
  @apply flex-shrink-0;
}

main:focus {
  @apply outline-none;
}

/* Define the page sizes for different templates */
.page-2xl {
  max-width: 1450px;
}
.page-xl {
  max-width: 1320px;
}
.page-lg {
  max-width: 1000px;
}
.page-md {
  max-width: 800px;
}
.page-sm {
  max-width: 600px;
}

.hyphens-manual {
  hyphens: manual;
}

.hero-section {
  margin-bottom: -4rem;
  & h1 {
    line-height: 0.8;
  }
  & h2 {
    line-height: 0.85;
  }

  & h1,
  & h2,
  & p {
    max-width: 750px;
  }

  & .hero-img {
    max-height: min(40vw, 440px);
  }
}

@media (max-width: 899px) {
.hero-section {
  & .hero-img {
    max-height: min(40vw, 440px);
  }
}
}

@media (min-width: 900px) and (max-width: 1079px) {
.hero-section {
  & .hero-img {
    max-height: min(35vw, 440px);
  }
}
}

@media (min-width: 1080px) and (max-width: 1500px) {
  .hero-section {
    margin-bottom: -3rem;
  }
}

.hyphens-auto {
  hyphens: auto;
}

.wp-caption-text {
  @apply text-md mt-0 mb-4 leading-tight text-center italic;
}

.page-title {
  @apply font-semibold text-dark text-center pt-0 mb-8 leading-none;
}

article .entry-header h1 {
  @apply mt-8;
}

.entry-content {
  @apply mx-6;

  & h2 {
    @apply pb-3 pt-6 mb-6;
  }
  & h3 {
    @apply py-3 mb-6;
  }
  & h4 {
    @apply mb-6;
  }

  &> .wp-block-group,
  &> .wp-block-columns {
    @apply mb-6 p-0;
  }

  &> .wp-block-group.has-background,
  &> .wp-block-columns.has-background {
    @apply pb-6;
  }

  /* only set background colour for direct children to allow overloading
   * there is no mechanic in theme.json to target plain paragraphs only
   * */
  &> h2, &> h3, &> h4, &> h5, &> h6, &> p {
    @apply text-dark;
  }

  &> p.has-large-font-size {
    @apply page-title text-4xl;
  }
  & figure {
    &> figcaption {
      @apply wp-caption-text;
      @apply font-body;
    }
  }
}

/* for sections with a background colour move margins inside the block */
.wp-block-group.has-background {
  @apply -mx-6;
  &> * {
    @apply mx-6;
  }
}

.link-look {
  @apply text-primary underline;
  /* Force break links so they don't create overflow */
  @apply break-words;
}

article p a {
  @apply link-look;

  &:hover, &:focus {
    @apply text-black;
  }
  &:visited {
    color: gray;
  }
}

.entry-content blockquote {
  @apply mx-20 mb-8;
  &> cite {
    @apply mt-4;
  }
  &> p {
    @apply mb-4 font-semibold;
    &:before, &:after {
      content: '"';
    }
  }
}


@media (max-width: 639px) {
  .entry-content blockquote {
    @apply mx-8;
  }
}

.entry-content .wp-block-columns {
  &> .wp-block-column {
    &> p {
      @apply mb-8;
    }
    &> p:last-of-type {
      @apply mb-0;
    }
  }
  &> .plus-minus-section {
    @apply ml-8 !important;

    &> p {
      @apply mb-3;
    }
    &> ul {
      @apply p-0 m-0 mb-3;
      &> li {
        @apply m-0;
      }
    }
    /* make the icons float in front off the text */
    &> ul {
      list-style: none;
      &> li {
        @apply pl-5;
      }
      &> li:before {
        @apply -ml-7;
      }
    }
    /* add icons instead of list-style */
    &> ul:nth-of-type(1) {
      &> li:before {
        content: 'task_alt ';
        @apply text-green-500 font-ma-icons;
      }
    }
    &> ul:nth-of-type(2) {
      &> li:before {
        content: 'clear ';
        @apply text-red-500 font-ma-icons;
      }
    }
  }
}

.front-page .entry-content {
  @apply text-dark;
}

/* Add margins to paragraphs that are not inside containers that have marginals already */
article .entry-content,
article .wp-block-columns {
  @apply my-0;
}

.link-with-text:before {
  @apply mr-2;
}

article ul,
article ol {
  @apply text-md text-dark font-body mb-8;
  @apply ml-12;

  /* Remove bottom padding from nested lists.
   * This works for ul ol mixes, because we have both "li > ul" and "li > ol" rules.
   * This works for all nested levels, because "ul li" doesn't specify direct child.
   */
  & li > ol,
  & li > ul {
    @apply pb-0;
  }

  & li {
    @apply pb-1;
  }
}

article ul {
  @apply list-disc;
}

article ol {
  @apply list-decimal;
}

img {
  @apply text-sm;
}

/****************** card elements used by card-element template *************/
.card-elem {
  @apply relative min-h-60;
}

.display-text-on-hover p {
  @apply relative hidden;
}

.display-text-on-hover h3 {
  @apply text-center;
}

.display-text-on-hover:hover .card-text,
.display-text-on-hover:focus .card-text {
}

.display-text-on-hover:hover img ,
.display-text-on-hover:focus img {
  @apply opacity-25;
}
.display-text-on-hover:hover p,
.display-text-on-hover a:focus p {
  @apply text-black m-4 block;
}

/******************************** List cards *********************************/
/* fix the size on larger screens to match the front-page * */

.list-card {
  /* 768px (text) + 160px (img) + 160px (category) + 40px (margins) */
  /* match the page-xl so it's same as front-page */
  max-width: 868px;
}

.card-section:hover,
.card-section:focus {
  @apply shadow-lg border-primary;
}

.btn-base {
  @apply bg-primary font-bold rounded-md text-white no-underline h-auto p-3 m-3;
}

.btn-sec-base {
  @apply border-primary rounded-md no-underline border-2;
  @apply font-btn font-semibold bg-white text-primary uppercase leading-none;
  @apply px-0 pb-0 pt-3 m-0;
}

.btn {
  @apply btn-base text-xl;
}
.btn-md {
  @apply btn-base text-md;
}
.btn-sm {
  @apply btn-base text-sm p-2 m-2;
}
.btn-sec {
  @apply btn-sec-base text-xl;
}

.btn-sec-md {
  @apply btn-sec-base text-md;
}

.btn-sec-sm {
  @apply btn-sec-base text-sm p-2 m-2;
}

.btn,
.btn-md,
.btn-sec,
.btn-sm,
.btn-sec-md,
.btn-sec-sm {
  &:hover, &:focus {
    @apply shadow-xl;
    filter: brightness(75%);
  }
}

/* Really cool button style, but doesn't work as a CTA for us
 * wrong color and uses Ghost style as base
 *
 * These look really nice, but they overwrite the btn-cta defined in affi plugin
 *  which is specifically designed for the tight affi list
 */
.btn-cool {
  @apply text-primary border-primary font-bold no-underline border-2 m-2 bg-white text-center uppercase;
  @apply transition-all duration-1000 ease-in-out;
  @apply flex items-center;
  border-radius: 1rem;
  box-shadow: -2px -4px 2px 0 rgba(0, 0, 0, 0.5), 4px 5px 2px 0 rgba(0, 0, 0, 0.6);
  &:hover, &:focus {
    @apply bg-primary text-white;
  }
}

.btn-cta {
  @apply font-btn font-semibold bg-cta text-white m-0 rounded-md uppercase leading-none;
  /* need 1rem top padding because of Teko font at 64px size */
  @apply pb-1 pt-2;

  &:hover, &:focus {
    @apply shadow-xl;
    filter: brightness(75%);
  }
}

/* Skip to content button for keyboard accessibility
 * Why is there three different ways to control the visibility: position, size and z?
 * */
a.skip-main {
    left: -999px;
    top: auto;
    width: 1px;
    height: 1px;
    @apply z-bottom overflow-hidden absolute;
}
a.skip-main:focus {
    left: auto;
    top: auto;
    @apply z-top h-auto w-80 bg-white p-3 m-3 text-lg text-center;
    outline: 3px solid black;
}

/* TODO this is for the media-text-block, we need to use the same padding for plain paragraphs also in mobile */
.wp-block-media-text.alignwide {
  @apply px-0;
}

@media (max-width: 639px) {
  .wp-block-media-text__content {
    @apply p-8 !important;
  }
}

figcaption {
  @apply mx-8;
}

@media (min-width: 820px) {
  .entry-content {
    &> p {
      @apply page-md;
    }
  }
}

/* WP Blocks for Full width templates */
.front-page .entry-content {
  & .wp-block-cover {
    @apply w-full flex-grow;
  }
}

/* WP button block
 * configuration in theme.json but hover and focus needs to be here
 * */
.wp-block-buttons {
  &> .wp-block-button {
    &> .wp-block-button__link {
      &:hover, &:focus {
        @apply shadow-xl text-primary;
        filter: brightness(75%);
      }
    }
  }
}

/* remove border if the button has custom background colour */
.wp-block-button__link.has-background {
  @apply border-0;
}

/* parempi verkkokauppa auditointi - section */
.wp-block-group {
  &> h2 {
    @apply mx-8;
  }
}

@media (max-width: 599px) {
  .wp-block-group__inner-container > h2 {
    @apply text-subtitle;
  }
}


.entry-content .price {
  @apply text-page-title font-semibold text-center;
  /* TODO there is a stupid override on all fonts at the start of this file */
  @apply font-display !important;
  line-height: 0.75 !important;
  @apply mb-0 !important;
}

@media (max-width: 639px) {
  .entry-content .price {
    @apply mt-8;
  }
}

.wp-block-latest-posts {
  @apply flex justify-center;
}

/* WP formidable plugin */
.frm_opt_container {
  & .frm_radio > label {
    @apply font-display text-lg !important;
  }
}
@media (max-width: 1199px) {
  .frm_opt_container {
    @apply flex-col;
  }
}

.frm_primary_label {
  @apply font-display text-lg font-medium !important;
}

.frm_submit {
  @apply flex justify-center;

  & .frm_button_submit {
    @apply px-12;
    @apply btn-cta text-2xl;
    &:hover, &:focus {
      @apply shadow-xl;
      filter: brightness(75%);
    }
  }
}

.email-list-section {
  @apply bg-list-section pb-3;
  &> div {
    max-width: 768px;
    @apply mx-auto;
    &> .frm_forms, &> p {
      @apply mx-6;
    }
  }
  &> h2 {
    @apply text-dark;
  }
  & .frm_form_title {
    @apply text-center text-subtitle text-dark font-semibold uppercase py-3 mb-6 leading-none;
  }
  & .frm_description,
  & .frm_description > p {
    @apply font-body text-base mt-0;
    @apply mb-8;
  }
  & .frm_form_field {
    @apply mb-5;
    & input {
      @apply w-full;
    }
  }
  & .frm_submit {
    & .frm_button_submit {
      @apply bg-white text-primary border-2 border-primary text-xl font-medium;
    }
  }
}

/* Ultimate blocks info box */
.uagb-ifb-button-wrapper > .uagb-infobox-cta-link {
  @apply bg-white font-display uppercase border-2 text-lg font-medium rounded-md;
  @apply text-primary border-primary pb-2 !important;
}

.wp-block-column.is-vertically-aligned-bottom, .wp-block-column.is-vertically-aligned-center, .wp-block-column.is-vertically-aligned-top {
  width: auto !important;
}

/******************************* WP blocks ***********************************/
/* Use Grid instead of Flexbox */
.wp-block-columns {
  /* because of CSS load order this is duplicated in functions.php with inline style */
  display: grid;
  grid-gap: 30px;
}

.wp-block-columns > * {
  grid-column: 1 / -1;
}

@media (min-width: 820px) {
  .wp-block-columns {
    grid-template-columns: repeat(12, 1fr);
  }

  .wp-block-column {
    grid-column-start: auto;
    grid-column-end: span 6;
  }

  .wp-block-column:only-child {
    grid-column-end: span 12;
  }

  /* Three column layout */
  .wp-block-column:not([style*='flex-basis']):nth-last-child(3):first-child,
  .wp-block-column:not([style*='flex-basis']):nth-last-child(3):first-child
    ~ .wp-block-column {
    grid-column-end: span 4;
  }

  /* "25 / 50 / 25" layout */
  .wp-block-column[style*='25%'] {
    grid-column-end: span 3;
  }
  .wp-block-column[style*='50%'] {
    grid-column-end: span 6;
  }

  /* "30 / 70" and "70 / 30" layouts */
  .wp-block-column[style*='33.33%'] {
    grid-column-end: span 4;
  }
  .wp-block-column[style*='66.66%'] {
    grid-column-end: span 8;
  }

  /* "40 / 60" and "60 / 40" layouts */
  .wp-block-column[style*='40%'] {
    grid-column-end: span 5;
  }
  .wp-block-column[style*='60%'] {
    grid-column-end: span 7;
  }

}

/**************************** Ultimate Blocks *******************************/
/* Info boxes */
.uagb-ifb-title-prefix {
  @apply font-body;
}

.uagb-tabs__panel {
  @apply w-full page-lg;
}

.uagb-tabs__wrap .uagb-tabs__body-wrap {
  @apply w-full page-lg;
}

.uagb-tab {
  @apply cursor-pointer;
}

@media only screen and (max-width: 1023px) {
  .uagb-tabs__wrap.uagb-tabs__vstyle6-mobile ul.uagb-tabs__panel {
    @apply flex-row;
    @apply w-full max-w-full;
  }
  .uagb-tabs__wrap.uagb-tabs__vstyle6-tablet .uagb-tabs__body-wrap {
    @apply w-full max-w-full;
  }
}
@media only screen and (max-width: 767px) {
  .uagb-tabs__wrap.uagb-tabs__vstyle6-mobile ul.uagb-tabs__panel {
    @apply flex-col;
    @apply w-full max-w-full;
  }
  .uagb-tabs__wrap.uagb-tabs__vstyle6-tablet .uagb-tabs__body-wrap {
    @apply w-full max-w-full;
  }
}

/* ----------------------- admin hide on mobile -----------------------------*/
@media only screen and (max-width: 767px) {
  #wpadminbar {
    @apply hidden;
  }
}
